.nav-link:hover, .nav-link:visited, .nav-link:link, .nav-link:active {
    text-decoration: none;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.card {
    display: block;
    line-height: 1.42857143;
    text-align: center;
    box-shadow: 0 0.1875rem 0.3125rem 0 rgba(0,0,0,0.12);
    width: 10rem;
    padding: 0;
    margin: 0 0.625rem 1.25rem;
    border: none;
    border-radius: 0.5rem;
    transition: border .2s ease-in-out;
}

.card:hover {
    box-shadow: 0 0.3125rem 0.9375rem 0.125rem rgba(0, 0, 0, 0.2);
}

.card .nav-link {
    display: block;
    padding: 0.25rem;
    color: #646464;
}

.card-title {
    font-weight: 800;
    font-size: 1.25rem;
    padding: 0.75rem 0;
    margin-bottom: 0;
}

.card-description {
    font-weight: 400;
    padding: 0.75rem 0;
    color: #646464;
    font-size: 0.75rem;
}

.card-icon span,
.card-icon img {
    width: 6.25rem;
    height: 6.25rem;
    font-size: 5rem;
}
