{# Added because lektor requires a template. However there is no link to the #}
{# page for each individual app currently.                                   #}

{% extends "page.html" %}

{% block content %}
  <section>
    <h2>{{ this.name }}</h2>
    <p>{{ this.description }}</p>
  </section>
{% endblock %}
