{% extends "page.html" %}

{% block page_css %}
  <link rel="stylesheet" href="{{ '/css/apps.css'|asseturl }}">
{% endblock %}

{% block content %}
  <section>
    <p>
      {% trans trimmed %}
        Apps can be installed from within the FreedomBox interface.
      {% endtrans %}
    </p>
    <br />

    <div class="container card-container">
      <div class="row">
        <div class="card-list">
          {% for app in this.pagination.items %}
            <div class="card">
              <a class="nav-link" href="{{ app.wiki_link }}">
                <div class="card-title">
                  {{ app.name }}
                </div>
                <div class="card-icon">
                  <img src="{{ '/images/icons/' + app.icon }}">
                </div>
                <div class="card-description">
                  {{ app.description }}
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

  </section>
{% endblock %}
