{% extends "page.html" %}

{% block title %}
  {{ this.name }} |
{% endblock %}

{% block page_css %}
  <link rel="stylesheet" href="{{ '/css/board.css'|asseturl }}">
{% endblock %}

{% block heading %}
  <h1>{{ this.name }}</h1>
{% endblock %}

{% block content %}
  <section class="board-details clearfix">
    <p class="image">
      <img class="img-fluid" src="{{ '/images/' + this.image }}"
           alt="{{ this.name }}"/>
    </p>

    <p>{{ this.description }}</p>

    {% if this.wiki_link %}
      <p>
        {% trans trimmed wiki_link=this.wiki_link %}
          See <a href="{{ wiki_link }}" alt="Link to board instructions on FreedomBox Wiki">instructions
          </a> on how to build your own FreedomBox by downloading and setting up
          on this hardware.
        {% endtrans %}
      </p>
    {% endif %}
  </section>

  <section id="download-section">
    <div class="card-deck">
      {% for distribution, distribution_translated, description in [
        ('stable', _("Stable"), _("Latest of the two-year releases, gets updated with security fixes and some new (backported) features")),
        ('testing', _("Testing"), _("Rolling release with all the latest features"))
        ] %}
        {% if this[distribution + '_image'] %}
          <div class="card">
            <div class="card-header">
              <h3 class="card-text">{{ distribution_translated }}</h3>
              <p>{{ description }}</p>
            </div>
            <div class="card-body">
              <div class="buttons">
                <div>
                  <a class="btn btn-primary" role="button"
                    href="{{ this[distribution + '_image'] }}"><i class="fa fa-file-archive-o"></i>  {{ _("Download image") }}
                  </a>
                  <a href="{{ this[distribution + '_signature'] }}">{{ _("Signature") }}</a>
                  <a href="https://wiki.debian.org/FreedomBox/Download#Verifying_the_Downloaded_Images">
                    <span class="fa fa-question-circle-o" aria-hidden="true"></span>
                  </a>
                </div>
                <a class="btn btn-link" role="button"
                   href="{{ this[distribution + '_image'] }}.torrent"><i class="fa fa-download"></i>  {{ _("Alternate download via BitTorrent") }}
                </a>
              </div>

              <p class="download-tags">
                {% for tag in this[distribution + '_tags'] %}
                  <span class="download-tag">{{ tag }}</span>
                {% endfor %}
              </p>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>

    {% if this.more_images %}
      <p>
        {% trans trimmed more_images=this.more_images %}
          See <a href="{{ more_images }}">more download options</a>.
        {% endtrans %}
      </p>
    {% endif %}

  </section>
{% endblock %}
