{% extends "page.html" %}

{% block page_css %}
  <link rel="stylesheet" href="{{ '/css/demo.css'|asseturl }}">
{% endblock %}

{% block content %}
  <section class="info">
    <div>{{ _("Username:") }} <strong>demo</strong></div>
    <div>{{ _("Password:") }} <strong>freedombox</strong></div>
  </section>

  <section>
    <a href="https://demo.freedombox.org/plinth/"
       class="btn btn-lg btn-primary" type="button">{{ _("Launch") }}</a>
  </section>

  <section class="notes">
    <p>{{ _("Server hosted on AWS infrastructure in Germany.") }}</p>

    <div class="alert alert-warning" role="alert">
      {% trans trimmed %}
        <strong>Note:</strong> This demo server will be reset every 30 minutes.
      {% endtrans %}
    </div>
  </section>

{% endblock %}
